<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cal.css') }}">
    <title> {{ year }}년 {{ month }}월 </title>
<body>
    <div class="cal">
        <div class="nav">
            <button class="nav-btn go-prev" onclick="location.href='/{{ year }}/{{ month - 1 }}'">&lt;</button>
            <div> {{ year }}년 {{ month }}월 </div>
            <button class="nav-btn go-prev" onclick="location.href='/{{ year }}/{{ month + 1 }}'">&gt;</button>
        </div>
        <div class="main">
            <div class="days">
                <div class="day"> 월 </div>
                <div class="day"> 화 </div>
                <div class="day"> 수 </div>
                <div class="day"> 목 </div>
                <div class="day"> 금 </div>
                <div class="day"> 토 </div>
                <div class="day"> 일 </div>
            </div>
            <div class="dates">
                {% for date, data in dates %}
                    {% if (date >= 1) %}
                        <div class="date" onclick="location.href='/{{ year }}/{{ month }}/{{ date }}'">
                            {% if data %}✅{% endif %}{{ date }} 
                        </div>
                    {% else %}
                        <div class="date"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
